:root {
    --body-color: #FFFFFF;
    --logotype-color: #4D5AE5;
    --logo-color: #2E2F42;
    --accent-color: #404BBF;
    --button-color: #4D5AE5;
    --button-background-color: #F4F4FD;
    --app-color: #434455;
    --background-color: #2E2F42;
    --customer-list-link-color: #8E8F99;
    --transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
    cursor: pointer;
    display: block;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    width: 100%;
}

.logo {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: #404bbf;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    display: flex;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #434455;
    background-color: var(--body-color)
}

.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

@media screen and (min-width: 428px) {
    .mobile-menu-social-list {
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width: 428px) {
    .mobile-menu-social-list {
        width: 100%;
        justify-content: flex-start;
        gap: 24px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* =============Header=============== */

.logotype {
    display: flex;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: #4D5AE5;
}

.logo {
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.menu,
.contacts {
    display: none;
}

.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--body-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 19px 40px 24px;
}

.mobile-menu-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 7px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid #2E2F42;
}

.mobile-menu-list {
    flex-direction: column;
    align-items: start;
    padding-top: 40px;
}

.mobile-menu-link {
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.current {
    color: #404BBF;
}

.mobile-menu-adress {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.mobile-menu-contacts {
    flex-direction: column;
    align-items: start;
    gap: 40px;
    margin-top: auto;
}

.mobile-menu-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4D5AE5;
}

.mobile-menu-malito {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-menu-social-list {
    justify-content: space-between;
}

.mobile-menu-social-link {
    width: 40px;
    height: 40px;
}

.mobile-menu-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--button-color);
}

.social-list-icon {
    fill: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .mobile-menu-open-btn {
        display: none;
    }

    .page-header-container {
        justify-content: space-between;
    }

    .page-nav {
        display: flex;
    }

    .menu {
        display: flex;
        gap: 40px;
        margin-left: 120px;
        margin-right: 120px;
    }

    .menu-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;

    }

    .contacts {
        display: flex;
    }

    .contacts-link {
        flex-direction: column;
        gap: 12px;
    }

    .mailto {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: #434455;
    }
}

@media screen and (min-width: 1158px) {
    .page-nav {
        display: flex;
        align-items: center;
        column-gap: 76px;
    }

    .contacts-link {
        flex-direction: row;
        gap: 40px;
    }
}

/* ============maim============== */

section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.main-hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: var(--background-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 320px;
    margin: 0 auto;
    text-transform: capitalize;
    color: #FFFFFF;
}

.main-button {
    font-size: 16px;
    line-height: 1.5;
    width: 169px;
    min-width: 169px;
    margin-top: 72px;
    padding: 16px 0;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #4D5AE5;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .main-text {
        font-size: 56px;
        max-width: 496px;
    }

    .main-button {
        margin-top: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .main-button {
        margin-top: 48px;
    }
}

.principles-of-work {
    display: none;
}

.strengths {
    flex-direction: column;
    gap: 72px;
}

.feature-item {
    display: none;
}

.feature {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .strengths {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .features {
        display: flex;
        flex-direction: column;
        width: calc((100% - 24px) / 2);

    }

    .feature {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .features {
        width: calc((100% - 72px) / 4);
    }

    .feature-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 112px;
        background-color: #F4F4FD;
        ;
    }

    .feature {
        font-size: 20px;
        line-height: 1.2;
    }
}

.job-profile {
    display: none;
}

.team {
    background-color: #F4F4FD;
}

.our-team {
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    flex-direction: column;
    gap: 72px;
}

.team-members {
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #FFFFFF;
}

.member-data {
    padding: 32px 16px;


}

.member {
    text-align: center;
    margin-bottom: 8px;
}

.direction {
    text-align: center;
}

.social-list {
    justify-content: space-between;
    margin-top: 8px;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24;
    }
}

/* .team-members {
        width: calc((100% - 72px) / 4);
    }
 */